body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;

}

html, body, #app, #app>div {
  height: 100%
}
#root, #map {
  position:absolute;
  width: 100%;
}

body,  
.mapContainer,
.mapboxgl-canvas-container, 
.mapboxgl-canvas, .mapboxgl-canvas,
{
  display: absolute;
  height: 100%;
  height: 100%;
}

.marker {
  background-image:url(assets/logo.svg);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:12px solid gray;
  background-color:yellow;
}
